body{
    background-image: url(../assets/assets/bgtexture.jpg);
}

@font-face {
    font-family: FugazOne;
    src: url(../assets/Montauk-Regular/FugazOne-Regular.ttf);
}

@font-face {
    font-family: Montauk;
    src: url(../assets/Montauk-Regular/Montauk-Regular.otf);
}

.rowNav{
    margin-top: 30px;
    /* outline: red dotted 1px; */
}
.rowNav1{
    margin-top: 20px;
    font-family: FugazOne;
    font-size: 20px;
}

.nav-link{
    color: #5F002B;
    margin-left: 25px;
}

.MenuTitle{
    text-align: center;
    /* background-color: white; */
    font-size: 40px;
    font-family: FugazOne;
    color: #5F002B;
    padding-top: 20px;
}

.box{
    height: 80px;
    background-color: white;
}

.box1{
    padding-left: 0px;
    padding-right: 0px;
}

.imgBeefMenu{
    width: 630px;
}

.boxMenu{
    margin: 0px;
    padding: 0px;
    width: 630px;
    height: 60px;
    background-color: white;
}
.boxMenu1{
    margin: 0px;
    padding: 0px;
    width: 630px;
    height: 650px;
    background-color: white;
}
.boxMenu2{
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
    margin-left: 42px;
    padding-left: 0px;
    width: 630px;
    height: 650px;
    background-color: white;
    /* outline: red dotted 1px ; */
}


.SandwichesTitle{
    font-family: FugazOne;
    color: #5F002B;
    font-size: 30px;
    padding-top: 15px;
    padding-left: 30px;
}


.SandwichesText{
    font-family: Montauk;
    font-size: 20px;
    color: #5F002B;
    padding-left: 30px;
}
.SandwichesText1{
    font-family: Montauk;
    font-size: 18px;
    color: #5F002B;
    padding-left: 30px;
    position: relative;
    bottom: 30px;
}

.spacetop{
    padding-top: 20px;
}

.SandText{
    font-family: Montauk;
    font-size: 28px;
    padding-top: 15px;
    padding-left: 30px;
    color: #5F002B;
}

.PriceText{
    font-family: Montauk;
    font-size: 28px;
    /* padding-top: 15px; */
    padding-left: 30px;
    color: #5F002B;
}
.PriceText1{
    font-family: Montauk;
    font-size: 28px;
    padding-top: 15px;
    padding-left: 30px;
    color: #5F002B;
}
.SandText1{
    font-family: Montauk;
    font-size: 28px;
    padding-left: 30px;
    color: #5F002B;
}

hr.new4 {
    margin-left: 30px;
    border: 1px solid #5F002B;
    height: 2px;
    width: 600px;
    text-align: center;
    position: relative;
    bottom: 25px;
  }

  .footerText{
    font-family: Montauk;
    color: #5F002B;
    font-size: 20px;
  }
  .footerText2{
    font-family: Montauk;
    text-align: end;
    font-size: 20px;
  }

  .ColAlign{
    padding-left: 10px;
  }

  .CateringHeroImg{
   padding-left: 0px;
   padding-right: 0px;
  }

  .MaineImgSize{
    width: 520px;
    max-height: 100%;
  }

  .boxMaine{
    background-color: white;
    /* min-width: 770px; */
    /* min-height: 300px; */
    
  }

  .SpaceContainer{
    padding-left: 0px;
    padding-right: 0px;
  }

  .CateringText{
    padding-top: 20px;
    padding-left: 20px;
    font-family: FugazOne;
    font-size: 25px;
    color: #5F002B;
  }
  .CateringText1{
    position: relative;
    bottom: 20px;
    padding-left: 20px;
    font-family: Montauk;
    font-size: 14px;
    color: #5F002B;
  }

  .card{
    border-radius: 0px;
  }
/* 
  @media  screen and (max-width: 800px) {
    .MaineImgSize{
        width: 280px;
        height: 200px;
      }
    
      .boxMaine{
        background-color: white;
        width: 400px;
        height: 200px;
      }
  } */

  @media screen and (max-width: 500px) {
    .boxMaine{
        width: 100%;
    }
  }
  @media screen and (max-width: 800px) {
    .boxMaine{
        width: 100%;
    }
    .MaineImgSize{
       width: 100%;
      }

  }

  body{
    background-image: url(../assets/assets/bgtexture.jpg);
}

.containedImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.storyBox{
    background-color: white;
    color:#5F002B;
    font-family: montauk;
    font-size: small;
}

.storyHeader{
    color:#5F002B;
    font-weight: 800;
    font-style: italic;
}

.spacing{
    margin-bottom: 40px;
}

.gridPics{
    margin-bottom: 10px;
    border: 10px solid white;
    object-fit: cover;
}

.sectionTitle{
    background-color: white;
    color:#5F002B;
    font-family: fugaz;
    font-weight: 700;
    font-style: italic;
    margin-top: 60px;
    padding: 10px;
    text-align: center;
}

.bottomPadding{
    padding-bottom: 20px;
}

.navEdit{
    color:#5F002B;
    font-family: fugaz;
    font-weight: 500;
}

.mobileImages{
    display: flex; justify-content: center; flex-flow: column; flex-wrap: wrap;
}

@font-face {
    font-family: montauk;
    src: url(../assets/Montauk-Regular/Montauk-Regular.otf);
}

@font-face {
    font-family: fugaz;
    src: url(../assets/FugazOne-Regular.ttf);
}

@font-face {
    font-family: Fugaz;
    src: url(/assets/FugazOne-Regular.ttf);
}

@font-face {
    font-family: Montauk;
    src: url(/assets/Montauk-Regular.otf);
}


.nav-item{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: Fugaz;

}

.nav-link{
    margin-left: 25px;
    color: #5F002B;    

}

.navLeft {
    display: flex;
    justify-content: end;
    padding-right: 60px;
}


@media(max-width: 768px) {

    .navLeft.collapse.show {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
    }

    .navLeft.collapsing {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
    }
    .navLogo {
        display: flex;
        justify-content: left;
    }


    .padd {
        padding-right: 0;
        padding-left: 0;
    }

}




body {
    background-image: url(/assets/bgtexture.jpg);
    /* background-size: 70%; */

}


.bgHead {
    background-image: url(/assets/homeHero.jpg);
    height: 600px;


}




h1 {
    font-family: Fugaz;
    font-size: 50px;
    color: #5F002B;
    padding-left: 40px;
    padding-top: 24px;

}

.textBody {
    font-family: Montauk;
    color: #5F002B;
    font-size: 20px;
    padding-left: 40px;
    padding-bottom: 50px;


}

.divBox {
    background-color: white;
}




.footText {
    font-family: Montauk;
    font-size: 20px;
    color: #5F002B;
    
    
    
}

.footTextR {
    font-family: Montauk;
    font-size: 20px;
    text-align: end;
    color: #5F002B;
    
}


.padBot {
    padding-bottom: 100px;
}

.paddd {
    padding-left: 0;
    padding-right: 0;
}


.imgBox {
    background-image: url(/assets/homeSingle.jpg);
    height: 449.5px;
    background-repeat: no-repeat;

}

